<div class="row justify-content-center">
  <div class="col col-md-8">
    <h2 class="text-center">Badges</h2>
    <p>
    <%= link_to 'New badge', new_admin_badge_path, class: 'fs-5' %>
    </p>

    <%= render 'shared/errors', resource: @badge %>

    <table class="table table-hover mt-4">
      <tr class="fs-5">
        <th scope="col">Title</th>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
        <th class="text-center" colspan="3">Action</th>
      </tr>
      <%= render @badges %>
    </table>
  </div>
</div>
