<nav class="navbar navbar-light" style="background-color: #9ccc65;">
  <div class="container-fluid">
    <%= link_to 'TestGuru Admin Panel', admin_tests_path, class: 'navbar-brand' %>
  
  <div class="nav-admin user">
    <span class="navbar-text">
      <b><%= t('layout.greeting', name: current_user.first_name) %></b> |
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </span>
    </div>
  </div>
</nav>
