<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.attribute %></td>
  <td class="align-middle"><%= badge.value %></td>
  <td class="align-middle"><%= badge_amount(current_user, badge) %></td>
</tr>
