<h1>Test has been complited</h1>

<% if @test_passage.pass? %>
  <p>
  You passed the test.<br>
  The score is: <span id="success"><%= @test_passage.correct_questions %></span>
  </p>
<% else %>
  <p>
  You didn't pass the test.<br>
  The score is: <span id="fail"><%= @test_passage.correct_questions %></span>
  </p>
<% end %>  

<p><%= link_to 'Back to all tests', tests_path %></p>
