<% if result.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= t('.header', count: result.errors.count) %>:</h2>
    <ul>
      <% result.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
