<p>
  <%= current_year %> | Ekaterina Yunina
  <br>
  <%= github_url('ekateriniy', 'test-guru') %>: the app to create, manage and take different tests.
  <br>
  Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com/' %>
</p>
