<li>
  <%= answer.body %><br>
  <%= link_to t('navigation.links.show'), admin_answer_path(answer) %> |
  <%= link_to t('navigation.links.edit'), edit_admin_answer_path(answer) %> |
  <%= link_to t('navigation.links.delete.method'), admin_answer_path(answer), method: :delete, data: { confirm: t('navigation.links.delete.confirm') } %>
</li>
