<p>
<%= link_to t('navigation.links.new_question'), new_admin_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th><%= t('.head') %></th>
    <th class="text-center" colspan="3"><%= t('navigation.actions') %></th>
  </tr>

  <%= render @test.questions %>
</table>
