<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <h2>New feedback arrived</h2>
    <p>
      <b>From: </b><%= @feedback[:email] %>
    </p>

    <p><b>Message:</b></p>
    <p><%= @feedback[:message] %></p>
</body>
</html>
